.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 10px 50px;
    background-color: #52796F;
    color: #111111;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    line-height: 0;
}

.logo img{
    width: 30px;
}

a{
    color: #111111;
    text-decoration: none;
    border: 1px solid transparent;
}

